@font-face {
    font-family: kanit;
    src: url(Kanit-Regular.ttf);
}

h1 {
    font-family: kanit;
}

.logo{
    width: 62px;
    height: 70px;
}



.nav-item a{
    color: aliceblue;
}

#titulo{
 justify-content: center;
 text-align: center;
 font-size: 40px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img{
    bottom: 0;
   
}